
{% extends "padre.html" %}

{% load static %}


{% block contenido %}
<style>
    h1{
        color: white;
        margin: 30px;
    }
</style>


<h1>Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium inventore iste ipsam. Unde eligendi iusto ipsa excepturi animi id eos, recusandae aliquam aut pariatur esse explicabo cum quam labore placeat?
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus tempore officiis nihil doloribus. Atque quam exercitationem, tempora, laborum pariatur dolores repudiandae amet ipsa ab error commodi nobis! Modi, vero autem.
</h1>
{% endblock %}