
{% extends "padre.html" %}

{% load static %}


{% block contenido %}
<style>
    h1{
        color: white;
        margin: 30px;
    }
    p{
        color: white;
    }
</style>

<form action="{url 'editar_servicio' servicio.id}" method="POST">

    {% csrf_token %}

    <p>Nombre del servicio:</p>
    {{mi_formulario.nombre_servicio}}
    <p>Precio del servicio:</p>
    {{mi_formulario.precio_servicio}}
    <p>Calidad del servicio:</p>
    {{mi_formulario.calidad_servicio}}
    <p>Descripción del servicio:</p>
    {{mi_formulario.descripcion_producto}}

    <input type="submit" value="Editar servicio">

</form>

{% endblock %}